.button {
    float: right;
}

.info {
    padding: 10px;
    width: 20%;
    height: 150px;
    align-content: center;
    display: block;
    margin-left: 35%;
    margin-top: 5%;
}

.newInfo {
    margin-left: 35%;
    margin-top: 5%;
    width: 30%;
    padding: 10px;
}

.newInput {
    background-color: lightblue;
}
