.button {
    float: right;
}

.info {
    background-color: #F7FFF6;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
    height: 180px;
    align-content: center;
    display: block;
    margin-left: 35%;
    margin-top: 5%;
}

.newInfo {
    margin-left: 35%;
    margin-top: 5%;
    width: 30%;
    padding: 10px;
    height: 220px;
    border-radius: 20px;
    text-align: center;
    background-color: #F7FFF6;
}

.newInput {
    background-color: #D7FDEC;
}

.form {
    background-color: #A9FBD7;
    width: 75%;
    height: 100px;
}