.name {
    font-size: 30px;
    font-weight: bold;
}

.search {
    border-radius: 5px;
    align-items: 'center';
    float: right;
    background-color: aliceblue;
}

.header {
    padding: 20px;
}